# --- Next.js via Passenger ---
PassengerEnabled on
PassengerAppRoot /home/bluerdcc/apps/blue
PassengerAppType node
PassengerStartupFile app.js
PassengerEnv production

# servir les assets statiques compilés
Alias /_next/static /home/bluerdcc/apps/blue/.next/static
<Directory "/home/bluerdcc/apps/blue/.next/static">
  Require all granted
</Directory>

Alias /public /home/bluerdcc/apps/blue/public
<Directory "/home/bluerdcc/apps/blue/public">
  Require all granted
</Directory>
# --- /Next.js Passenger ---
